.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj.user

# ArcGIS / GDAL sidecars (GeoTIFFs already carry CRS)
*.ovr
*.tfw
*.tif.xml
*.aux.xml
*.vat.dbf
*.vat.cpg
*.sr.lock
*.lock
*.sbn
*.sbx

# Local PMTiles / MapLibre widget dumps (geometry hosted on Cloudflare R2)
data/tiles/
hello.txt
